services:
  lint-formatter:
    build: .
    volumes:
      - .:/app
    command: [ "./scripts/start-formatter-lint.sh" ]
    networks:
      - djangostompnetwork

  integration-tests-rabbit-mq:
    build: .
    volumes:
      - .:/app
    depends_on:
      broker-rabbitmq:
        condition: service_healthy
    command: ["./scripts/start-tests.sh"]
    environment:
      STOMP_SERVER_HOST: "broker-rabbitmq"
      STOMP_SERVER_PORT: 61613
      STOMP_SERVER_GUI_PORT: 15672
    networks:
      - djangostompnetwork

  integration-tests-active-mq:
    build: .
    volumes:
      - .:/app
    depends_on:
      - broker-activemq
    command: ["./scripts/start-tests.sh"]
    environment:
      STOMP_SERVER_HOST: "broker-activemq"
      STOMP_SERVER_PORT: 61613
      STOMP_SERVER_GUI_PORT: 8161
    networks:
      - djangostompnetwork

  integration-tests-tox:
    build:
      context: .
    volumes:
      - .:/app
    depends_on:
      broker-rabbitmq:
        condition: service_healthy
    command: ["./scripts/start-tox-tests.sh"]
    networks:
      - djangostompnetwork

  broker-activemq:
    image: rmohr/activemq:latest
    ports:
      - 8161:8161
      - 61613:61613
    volumes:
      - ./tests/resources/custom-activemq-conf:/opt/apache-activemq-5.15.6/conf
    networks:
      - djangostompnetwork

  another-broker-activemq:
    image: rmohr/activemq:latest
    ports:
      - 8162:8161
      - 61614:61613
    volumes:
      - ./tests/resources/custom-activemq-conf:/opt/apache-activemq-5.15.6/conf
    networks:
      - djangostompnetwork

  broker-rabbitmq:
    image: rabbitmq:3-management
    ports:
      - 61613:61613
      - 15672:15672
    volumes:
      - ./tests/resources/custom-rabbitmq-conf:/etc/rabbitmq/
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - djangostompnetwork

networks:
  djangostompnetwork: