[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
wheel = "*"
tox = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-django = "*"
parsel = "*"
requests = "*"
trio = "*"
pytest-trio = "*"

[packages]
django = "~=5.1"
"stomp.py" = "~=8.0"
request-id-django-log = "==0.2.0"
tenacity = "~=8.0"

[requires]
python_version = "3.10"
